.menu aside{
    width: 200px;
    background-color: hsl(258, 29%, 85%, 0.80);
    float: left;
    height: 532px;
    margin-top: 10px;
}

.menu aside a{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    color: #0E2C40;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 4px;
}

.menu aside a:hover{
    color: #148D8D;
}
