*{
    margin: 0%;
    padding: 0%;
}

body{
    background: linear-gradient(to bottom, hsl(258, 29%, 85%, 0.80), hsl(265, 29%, 92%, 0.50)) fixed, url('background.jpg') fixed center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.title{
    font-family: 'at';
    font-size: 2.5em;
    font-weight: normal;
    text-decoration: underline;
    color: #423f3f;
    margin-bottom: 2%;
}

.formulario label{
    font-size: 16px;
}

.formulario input, select, textarea, label{
    display: block;
    text-align: center;
    width: 26em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    color: #423f3f;
}

.formulario input, select, textarea{
    border-radius: 4px;
    border: 1px solid #0E2C40;
    padding: 4px;
    margin-bottom: 16px;
}

.formulario input:focus, select:focus, textarea:focus{
    outline: 0.4px solid #0E2C40;
}

button{
    margin-top: 10px;
    display: block;
    text-align: center;
    width: 26em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 4px;;
    padding: 8px;
    border: 1px solid #423f3f;
    background-color: #0E2C40;
    color: #FFFFFF;
    text-transform: capitalize;
}

button:hover{
    background-color: #148D8D;
}

.banner img{
    height: 80px;
    width: 100%;
}

.opcao input, .opcao label{
    display: inline;
    border: 0px solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


label{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.opcao label{
    font-size: 16px;
}

.opcao input{
    height: 18px;
    width: 18px;
    margin-right: 4px;
    margin-top: 4px;
}
